<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>Fithub Cart</title>
</head>

<body>
    <nav id="nav">
        <div class="navTop">
            <div class="navItem">
                <h1 class="headingname">.Fithub</h1>
            </div>
            <div class="navItem">
                <div class="search">
                    <button class="button" ><a style="color: black;text-decoration: none;"" href="http://127.0.0.1:8000/home#">HOME</a></button>
                </div>
            </div>
            
        </div>
        <div class="navBottom">
            <h3 class="menuItem">WHEY PROTEIN</h3>
            <h3 class="menuItem">CREATINE</h3>
            <h3 class="menuItem">BCAA SUPPLEMENTS</h3>
            <h3 class="menuItem">PRE-WORKOUT SUPPLEMENTS</h3>
            <h3 class="menuItem">MULTIVITAMINS</h3>
        </div>
    </nav>
    
    <div class="slider" id="slider">
        <div class="sliderWrapper">
            <div class="sliderItem">
                <img src="/static/images/wp.png" alt="" class="sliderImg">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle">WHEY PROTEIN</h1>
                <h2 class="sliderPrice">₹2500</h2>
                <a href="#product">
                    <button class="buyButton">BUY NOW!</button>
                </a>
            </div>
            <div class="sliderItem">
                <img src="/static/images/creat.png" alt="" class="sliderImg">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle">CREATINE</h1>
                <h2 class="sliderPrice">₹1000</h2>
                <a href="#product">
                    <button class="buyButton">BUY NOW!</button>
                </a>
            </div>
            <div class="sliderItem">
                <img src="/static/images/bsss.png" alt="" class="sliderImg">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle">BCAA SUPPLEMENTS</h1>
                <h2 class="sliderPrice">₹1200</h2>
                <a href="#product">
                    <button class="buyButton">BUY NOW!</button>
                </a>
            </div>
            <div class="sliderItem">
                <img src="/static/images/pre.png" alt="" class="sliderImg">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle">PRE WORKOUT</h1>
                <h2 class="sliderPrice">₹1500</h2>
                <a href="#product">
                    <button class="buyButton">BUY NOW!</button>
                </a>
            </div>
            <div class="sliderItem">
                <img src="/static/images/vittt.png" alt="" class="sliderImg">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle">MULTIVITAMINS</h1>
                <h2 class="sliderPrice">₹900</h2>
                <a href="#product">
                    <button class="buyButton">BUY NOW!</button>
                </a>
            </div>
            
        </div>
    </div>
   
    <div class="features">
        <div class="feature">
            <img src="/static/images/free-delivery.png" alt="" class="featureIcon">
            <span class="featureTitle">FREE SHIPPING</span>
            <span class="featureDesc">Free worldwide shipping on all orders.</span>
        </div>
        <div class="feature">
            <img class="featureIcon" src="/static/images/exchange.png" alt="">
            <span class="featureTitle">30 DAYS RETURN</span>
            <span class="featureDesc">No question return and easy refund in 14 days.</span>
        </div>
        <div class="feature">
            <img class="featureIcon" src="/static/images/gift-card.png" alt="">
            <span class="featureTitle">GIFT CARDS</span>
            <span class="featureDesc">Buy gift cards and use coupon codes easily.</span>
        </div>
        <div class="feature">
            <img class="featureIcon" src="/static/images/operator.png" alt="">
            <span class="featureTitle">CONTACT US!</span>
            <span class="featureDesc">Keep in touch via email and support system.</span>
        </div>
    </div>

    <div class="product" id="product">
        <img src="/static/images/wp.png" alt="" class="productImg">
        <div class="productDetails">
            <h1 class="productTitle">WHEY PROTEIN</h1>
            <h2 class="productPrice">₹2500</h2>
            <p class="productDesc">Boost your fitness journey with our curated range of gym supplements. From Whey Protein Powder for muscle recovery, Creatine for strength, BCAA Supplements for muscle metabolism, to Pre-Workout Supplements for energy and Multivitamins for overall health - we’ve got everything you need for a comprehensive fitness regimen. Start shopping now and take the first step towards a healthier you.</p>

            <button class="productButton">BUY NOW!</button>
        </div>
        <div class="payment">
            <h1 class="payTitle">Personal Information</h1>
            <label>Name and Surname</label>
            <input type="text" placeholder="Name" class="payInput">
            <label>Phone Number</label>
            <input type="text" placeholder="+91" class="payInput">
            <label>Address</label>
            <input type="text" placeholder="Address" class="payInput">
            <h1 class="payTitle">SCAN THIS FOR THE PAYMENT</h1>
            <img src="/static/images/qrcode.jpg" alt="QR Code" style="width: 200px; height: 200px; justify-content: right;">
            <button class="payButton">Checkout!</button>
            <span class="close">X</span>
        </div>
    </div>
    <div class="gallery">
        <div class="galleryItem">
            <h1 class="galleryTitle">Empower your fitness journey, right from your living room</h1>
            <img src="/static/images/girl.png" alt="" class="galleryImg">
        </div>
        <div class="galleryItem">
            <img src="/static/images/dumbbell.png" alt="" class="galleryImg">
            <h1 class="galleryTitle">Your personal gym, a click away</h1>
        </div>
        <div class="galleryItem">
            <h1 class="galleryTitle">Transforming fitness, one click at a time</h1>
            <img src="/static/images/boy.png" alt="" class="galleryImg">
        </div>
    </div>
    
    <div class="newSeason">
       
        <div class="nsItem">
            <h3 class="nsTitleSm">FITNESS ESSENTIALS</h3>
            <h1 class="nsTitle">Strength Training Gear</h1>
            <h1 class="nsTitle">Performance Apparel</h1>
            <a href="#nav">
                <button class="nsButton">SELECT YOUR EQUIPMENT</button>
            </a>
        </div>
        
        
    </div>
    <footer>
        <div class="footer-container">
            <div class="footerLeft">
                <div class="footerMenu">
                    <h1 class="fMenuTitle">About Us</h1>
                    <ul class="fList">
                        
                        <li class="fListItem"><a href="contact" style="text-decoration: none; color: orange;">Contact Us</a></li>
                        
                    </ul>
                </div>
                
                <div class="footerMenu">
                    <h1 class="fMenuTitle">Products</h1>
                    <ul class="fList">
                        <li class="fListItem"><a style="color: orange; text-decoration: none;"href="#slider">WHEY PROTEIN</a></li>
                        <li class="fListItem"><a style="color: orange; text-decoration: none;"href="#slider">CREATINE</a></li>
                        <li class="fListItem"><a style="color: orange; text-decoration: none;"href="#slider">BCAA SUPPLEMENTS</a></li>
                        <li class="fListItem"><a style="color: orange; text-decoration: none;"href="#slider">PRE-WORKOUT SUPPLEMENTS</a></li>
                        <li class="fListItem"><a style="color: orange; text-decoration: none;"href="#slider">MULTIVITAMINS</a></li>
                    </ul>
                </div>
            </div>
            <div class="footerRight">
                <div class="footerRightMenu">
                    <h1 class="fMenuTitle">Subscribe to our newsletter</h1>
                    <div class="fMail">
                        <input type="text" placeholder="your@email.com" class="fInput">
                        <button class="fButton">Join!</button>
                    </div>
                </div>
                <div class="footerRightMenu">
                    <h1 class="fMenuTitle">Follow Us</h1>
                    <div class="fIcons">
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="/static/images/facebook.png" alt="Facebook" class="fIcon">
                        </a>
                        <a href="https://www.twitter.com" target="_blank">
                            <img src="/static/images/logos.png" alt="Twitter" class="fIcon">
                        </a>
                        <a href="https://www.instagram.com" target="_blank">
                            <img src="/static/images/instagram.png" alt="Instagram" class="fIcon">
                        </a>
                        <a href="https://www.whatsapp.com" target="_blank">
                            <img src="/static/images/whatsapp.png" alt="WhatsApp" class="fIcon">
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </footer>
    <script src="/static/app.js"></script>
</body>

</html>