<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/s.css">
</head>
<body background= "/static/images/31.jpg">
    <p><h1 class="section__header">FitPass</h1></p>
    <section class="membership" id="membership">
        <div class="section_container membership_container"> 
            <div class="membership__grid">
                <div class="membership__card">
                    <h4>SILVER</h4>
                    <h2><sup>₹</sup>199</h2>
                    <h3>For 1 Month</h3>
                    <h4>Unlimited Video access</h4>
                    <p>Nutritional Guidance</p>
                    <p>Group trainer</p>
                    <p>Personalized Plans</p>
                    <p>Weekly Check-ins</p>
                    <button class="btn membership__btn"><a style="color: white; text-decoration: none;" href="/payment">GET STARTED</a></button>
                </div>
                <div class="membership__card">
                    <h4>GOLD</h4>
                    <h2><sup>₹</sup>399</h2>
                    <h3>For 3 Month</h3>
                    <h4>Priority Booking</h4>
                    <p>One time access to Clubs</p>
                    <p>Discuss fitness goals</p>
                    <p>Private Community</p>
                    <p>Renewal Discounts</p>
                    <button class="btn membership__btn"><a style="color: white; text-decoration: none;" href="/payment">GET STARTED</a></button>
                </div>
                <div class="membership__card">
                    <h4>ELITE</h4>
                    <h2><sup>₹</sup>599</h2>
                    <h3>For 6 Month</h3>
                    <h4>VIP Access</h4>
                    <p>Access to yoga area</p>
                    <p>Dedicated Support</p>
                    <p>Custom Rewards</p>
                    <p>Premium Events</p>
                    <button class="btn membership__btn"><a style="color: white; text-decoration: none;" href="/payment">GET STARTED</a></button>
                </div>
            </div>
        </div>
    </section>
    <script src="/static/app2.js"></script>
</body>
</html>