/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light grey background */
    
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: orange; /* White background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h3 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

textarea {
    resize: none;
}

input[type="submit"] {
    background-color: #ff7f0e; /* Orange button */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #e66500; /* Darker orange on hover */
}

/* Popup styles */
.container1 {
    position: relative;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: none;
}

.popup img {
    width: 80px;
    margin-bottom: 20px;
}

.popup h2 {
    color: #ff7f0e; /* Orange header */
}

.popup button {
    background-color: #ff7f0e; /* Orange button */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.popup button:hover {
    background-color: #e66500; /* Darker orange on hover */
}

.open-popup {
    display: block;
}
